<% content_for :left_sidebar do %>
  <% content_for :left_sidebar_top do %>
    <div class="home_user_info">
        <%= render 'users/main_info', user: @user %>
        <!-- user stats -->
        <%= link_to @user do %>
          <div id="home_sidebar_user_stats" class="home_div">
            <li>
              Tweets<br><span class="numbers"><%= @user.cached_tweets_size %></span>
            </li>
        <% end%>
        <%= link_to user_following_path(@user) do %>
          <li>
            Following<br><span class="numbers"><%= @user.cached_followers_size %></span>
          </li>
        <% end%>
        <%= link_to user_followers_path(@user) do %>
          <li>
            Followers<br><span class="numbers"><%=@user.cached_followings_size %></span>
          </li>
        <% end%>
      </div>

      <div id="tweet_box">
        <%= form_for @path do |f| %>
        <!-- you cannot pass the contents of a contenteditable input to the server, and this div needs to be contenteditable for the 140 char limit count -->
        <%= f.hidden_field :content %>
        <div id='tweet-content-text' contenteditable='true' role='text'>Meow meow meow...</div>
        <div id="tweet_form_options" class='hide-me'>
          <p id="charCount">140</p>
          <%= f.submit "Meow!", id: 'tweet-submit', class: 'btn' %>
          <% end %>
        </div>
      </div>
    </div><!--/.home_user_info -->
  <% end %>
  <%= render 'shared/main_left_sidebar' %>
<% end %>

<!-- YIELD -->
<h3>Tweets</h3>
<hr>
  <% if @tweets %>
    <% @tweets.each do |tweet| %>
      <% cache tweet do %>
        <% if tweet.retweets.first %>
          <p class="retweet_notice">
            <i class="fa fa-retweet"></i> <%= tweet.retweets.first.user.username %> retweeted
          </p>
        <% end %>
        <%= render 'tweets/individual_tweet_template', tweet: tweet %>
      <% end %>
    <% end %>
<% end %>
