<div>
  <div class="errors">
    <%= flash[:notice] %>
  </div>
  <h1>Login</h1>
  <div id="sign-up">
    <div id="sign-up-form">
      <%= form_tag request_token_path, id:'login-form' do %>
        <%= text_field_tag :user_id, nil,placeholder: "Username or email" %>
        <br>
        <%= button_tag "Send Login Link"%>
      <% end %>
    </div>
  </div>
  <%= link_to "Read more about our passwordless login here", faq_path %>
</div>


<script charset="utf-8">
  $(document).ready( function(){
    $("#login-form").validate({ rules: { user_id: "required" } });
  })
</script>
