<div class="each_tweet span12">
  <img class="tweet_user_photo" src="<%= tweet.user.profile_photo_url%>" alt="" />
  <div class="tweet_info">
    <p>
      <span class="username"><%=tweet.user.name%></span>
  <%=link_to "@#{tweet.user.username}", user_path(tweet.user)%>
  .
  <% today = Time.new.hour %>
  <% created = tweet.created_at.hour %>
  <% time_since = time_since || (today - created)/60.to_i.abs %>
  <%=link_to "#{time_since} hrs ago", tweet_path(tweet)%>
    </p>
    <div class="tweet_content">
      <%=tweet.content.html_safe%>
    </div><!-- .tweet_content-->
  </div><!-- .tweet_info-->

    <div class="home_tweet_actions">

      <%= form_tag tweet_path(tweet), method: :get do %>
      <%= submit_tag "Reply" %>
      <% end %>


      <% if current_user.retweeted_tweets.include?(tweet) %>
        <%= form_tag tweet_undo_retweet_path(tweet) do %>
        <%= submit_tag "Undo retweet" %>
        <% end %>
      <% else %>
        <%= form_tag tweet_retweet_path(tweet) do %>
        <%= submit_tag "Retweet" %>
        <% end %>
      <% end %>

      <% if current_user.favorited_tweets.include?(tweet) %>
        <%= form_tag tweet_unfavorite_path(tweet) do%>
        <%= submit_tag "Unfavorite" %>
        <% end %>
      <% else %>
        <%= form_tag tweet_favorite_path(tweet) do%>
        <%= submit_tag "Favorite" %>
        <% end %>
      <% end %>
    </div><!-- .home_tweet_actions -->
</div><!-- .each_tweet -->
