<%= javascript_include_tag 'users/alphanumericValidate' %>
<%= javascript_include_tag 'users/edit' %>

<% content_for :left_sidebar do %>
  <div class="sidebar">
    <%= render 'users/main_info', user: @user %>
  </div>

  <div class="sidebar left-sidebar-top">
    <a href="#account" class="user_edit"><h5>Account<i class="fa fa-chevron-right"></i></h5></a>
    <hr/>
    <a href="#profile" class="user_edit"><h5>Profile<i class="fa fa-chevron-right"></i></h5></a>
  </div>
<% end %>

<!-- YIELD -->
<div id="profile">
  <h1>Profile</h1>
  This information appears on your public profile, search results, and beyond.
  <br>
  <hr>
  <br>

  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <% if @user.errors.present? %>
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %>
      <br/>
    <% end %>
  <% end %>

  <%= form_for @user, html:{class: 'profile-edit'} do |f| %>
    <div class="form-group">
    <%= f.label :profile_photo_url, "Photo" %>
    <%= image_tag @user.profile_photo_url, width: '200' %>
    <%= f.text_field :profile_photo_url, type: 'url', class: 'form-control' %>
    </div>
    <div class="form-group">
    <%= f.label :background_photo_url, "Header" %>
    <%= image_tag @user.background_photo_url, width: '200' %>
    <%= f.text_field :background_photo_url, type: 'url', class: 'form-control' %>
    </div>
    <br>
    <hr>
    <br>
    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, type: 'text', class: 'form-control' %>
    <p>Enter your real name, so people you know can recognize you.</p>
    </div>
    <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, class: 'form-control' %>
    <p>Where in the world are you?</p>
    </div>
    <br/>
    <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, type: 'url', class: 'form-control' %>
    <p>Have a homepage or a blog? Put the address here.</p>
    </div>
    <div class="form-group">
    <%= f.label :bio %>
    <%= f.text_field :bio, class: 'form-control' %>
    <p>About yourself in 160 characters or less.</p>
    </div>
    <br>
    <hr>
    <br>
    <%= f.submit "Save Changes", class: 'btn' %>
  <% end %>
</div>

<div id="account" class="hide-me">
  <h1>Account</h1>
  Change your basic account and language settings.
  <br>
  <hr>
  <br>

  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <% if @user.errors.present? %>
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %>
      <br/>
    <% end %>
  <% end %>

  <%= form_for @user, html:{class: 'account-edit'} do |f| %>
    <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, type: 'text', class: 'form-control alphanumeric' %>
    <p>https://kitter.cat/<span class="new_username"><%= @user.username %></span></p>
    </div>
    <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, type: 'email', class: 'form-control' %>
    </div>
    <br>
    <hr>
    <br>
    <%= f.submit "Save Changes", class: 'btn' %>
  <% end %>
  <br>
  <hr>
  <br>
  <%= button_to "Delete Account", @user, method: :delete %>
  <h5>If you delete your account you will not be able to recover it and all tweets will be deleted</h5>

</div>



<style>
  form.edit_user {
    padding: 20px 40px;
    text-align: center;
  }

  form.edit_user img {
    max-width: 80;
  }
</style>
