<h3>Following</h3>

<% @followings.each do |follow| %>
  <img src="<%= follow.user.profile_photo_url%>" alt="" />
  <%= link_to follow.user do %>
  <%= follow.user.name %>
  <%= "@#{follow.user.username}" %>
  <% end %>
  <%= follow.user.bio %>

  <%= form_tag user_block_path(follow.user) do %>
  <%= submit_tag "Block" %>
  <% end %>

  <%= form_tag user_unfollow_path(follow.user) do %>
  <%= submit_tag "Unfollow" %>
  <% end %>

<% end %>
