<h3>Followers</h3>

<% @followers.each do |follower| %>

  <img src="<%= follower.profile_photo_url%>" alt="" />
  <%= link_to follower do %>
  <%= follower.name %>
  <%= "@#{follower.username}" %>
  <% end %>
  <%= follower.bio %>
  <%= button_to "Block", user_block_path(user) , class: 'btn'%>

  <% if current_user.followings.include?(follower) %>
    <%= button_to "Unfollow", user_unfollow_path(user) , class: 'btn'%>
  <% else %>
    <%= button_to "Follow", user_follow_path(user) , class: 'btn'%>
  <% end %>

<% end %>
