<%= javascript_include_tag 'users/signup' %>

<h1>Join Kitter Today</h1>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<br>

<div>
  <% if @user.errors.present? %>
    <% @user.errors.full_messages.each do |msg|  %>
      <%= msg %>
      <br>
    <% end %>
  <% end %>
</div>

<div id="signup-form">
  This is the only information we require for you to signup, no passwords necessary!
  <br>
  Read more about our <%= link_to "passwordless login process here.", faq_path %>
  <br>
  <br>
  <%= form_for @user do |f|%>
    <div class="form-group input-group">
    <%= f.label :email, "Email address" %>
    <%= f.text_field :email, type: 'email', class: 'form-control'%>
    </div>

    <div class="form-group input-group">
    <%= f.label :name, "Full name" %>
    <%= f.text_field :name, type: 'text', class: 'form-control'%>
    </div>

    <div class="form-group input-group">
    <%= f.label :username, "Choose your username" %>
    <%= f.text_field :username, type: 'text', class: 'form-control'%>
    </div>

    <%= f.submit class: 'btn' %>
  <% end %>
</div><!-- end signup form-->
