<%= javascript_include_tag 'users/signup' %>

<h2>Join Kitter Today.</h2>

<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>
<br>

<div>
  <% if @user.errors.present? %>
    <% @user.errors.full_messages.each do |msg|  %>
      <%= msg %>
      <br>
    <% end %>
  <% end %>
</div>

<div id="signup-form">
  This is the only information we require for you to signup, no passwords necessary!
  <br>
  Read more about our <%= link_to "passwordless login process here.", faq_path %>
  <br>
  <br>
  <%= render 'users/signup', user: @user %>
</div><!-- end signup form-->
